/* Just and project to practice some knowledge in css acquired in codecademy
Code still need to improve in responsive skills */

/* general styles */

html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

h1, h2, h4 {
  padding: 10px 0;
  margin: 0;
}

/* header styles */

header {
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  background-color: black;
  z-index: 10;
  width: 100%;
  display: inline;
}

header a {
  float: left;
  text-decoration: underline;
  color: seashell;
}

header img {
  margin: 9.5px 10px;
  vertical-align: middle;
}

nav {
  float: right;
}

nav a {
  padding: 20px;
}

/* main styles */

main {
  position: relative;
  top: 69px;
  justify-items: center;
  align-items: center;
}

/* hero section */

.hero {
  height: 700px;
  width: 1200px;
  position: relative;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.hero .section-title {
  background-color: black;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
  justify-items: center;
}

/* tea's section */

.teas-container {
  width: 1000px;
  position: relative;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.teas-title {
  margin-bottom: 10px;
}

.images-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}

.images-container figure {
  margin: 0;
  padding: 0;
}

figure img {
  height: 200px;
  width: 300px;
  /* margin-bottom: 10px; */
  padding: 0;
}

figcaption h4 {
  margin: 10px auto 20px auto;
  padding: 0;
  vertical-align: text-top;
}

/* locations section */

.locations-section  {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  width: 1200px;
  position: relative;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.locations-container {
  margin: 0;
  position: absolute;
  top: 43.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.locations-title {
  margin-bottom: 5px;
  margin: 0;
}

.address-container {
  display: inline-flex;
}

.address {
  width: 300px;
  background-color: black;
  margin: 0 20px;
}

.address h4 {
  margin: 15px 5px;
}

/* footer section */

.contact-container {
  height: 200px;
  width: 100%;
  position: relative;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.copy h5 {
  margin: 0 0 30px 20px;
  padding-bottom: 20px;
  text-align: left;
}

a.anchor {
  display: block;
  position: relative;
  top: -69px;
  visibility: hidden;
}